{% extends "blog/base.html" %}
{% block title %}下载页{% endblock %}

{% block main %}
<table class="table">
    <thead>
    <tr>
        <!-- 为什么必须空一列？ -->
        <th scope="col">#</th>
        <th scope="col">名称</th>
        <th scope="col">网址</th>
    </tr>
    </thead>

    <tbody>

    {% for data in download_list %}
    <tr>
        <th scope="row"></th>
        <td>{{ data.name }}</td>
        <td><a href="{% url 'download' data.pk %}">{{ data.path }}</a></td>
    </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}